* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto-Mono", monospace;
}

.navbar-dark {
    .nav-link {
        color: #f44;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #f44;
        }
    }
}

.list-group {
    .list-group-item {
        transition: all 100ms ease-in-out;

        &:hover {
            outline: 1px solid rgb(255, 124, 124);
            outline-offset: -1px;
            background-color: rgb(96, 0, 0);
            color: #f44;
            z-index: 1;
        }
    }
}